

.dashboard-container {
  background: linear-gradient(to bottom, #007BFF, #033163, #021D39); /* Smooth fade effect */
  min-height: calc(100vh - 140px); 
    /* ^ Subtract the approximate heights of navbar + footer 
       to keep the dashboard content from overlapping. */
    padding: 40px;
    padding-bottom: 100px;
    color: #000000;
    font-family: sans-serif;
    display: flex;
    justify-content: center; /* Centers horizontally */
  }

  .title{
    color: #fff;
  }
  .dashboard-fullcard-outer{
    background: #009ABC; /* Or your preferred background color */
    padding: 10px;
    min-width: 80%;
    border-radius: 8px;
  }
  
  .dashboard-fullcard-inner{
    background: #023469; /* Or your preferred background color */
    padding: 25px;
    min-width: 75%;
    border-radius: 8px;
  }
  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto;         
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto; 
  }
  
  .total-cvs-card {
    grid-column: 1 / 3;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .user-icon {
    width: 60px;
    height: 60px;
  }
  
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-value {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .chart-container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px 20px 40px 0px;
  }
  
  .bar-chart h3,
  .donut-chart h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
    text-align: center;
    color: #000000;
  }
  